*{
    padding:0;
    margin: 0;
}
#box1{
    width:500px;
    height:500px;
    margin:50px auto;
    border-top:8px solid #dddddd;
    border-bottom:8px solid #dddddd;
    position: relative;
}
#box1 img{
    width:500px;
    height:500px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: 100;

}
#inbox1{
    position: absolute;
    height:20px;
    left:80px;
    bottom:0px;
    z-index: 500;
}
#inbox1 span{
    display:inline-block;
    width:8px;
    height:8px;
    background-color: #fff;
    z-index: 500;
    border-radius: 50%;
    float: left;
    margin-left: 19px;
    border:2px solid #aaa;
}
#b1_front{
    width:50px;
    height:50px;
    position: absolute;
    color:#999;
    background-color: #fff;
    border-radius: 50%;
    left:-55px;
    top:225px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
#b1_front:hover{
    color:#fff;
    background-color: #999999;
    cursor: pointer;
}
#b1_next{
    width:50px;
    height:50px;
    position: absolute;
    color:#999;
    background-color: #fff;
    border-radius: 50%;
    right:-55px;
    top:225px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    font-size: 30px;

}
#b1_next:hover{
    color:#fff;
    background-color: #999999;
    cursor: pointer;
}
#box2{
    width:600px;
    height:400px;
    margin:50px auto;
    border:4px solid #858585;
    position: relative;
}
#box2 a{
    width:50px;
    height:50px;
    position: absolute;
    color:#999;
    background-color: #f1f1f1;
    border-radius: 50%;
    top:175px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    opacity: 0.5;
}
#box2 a:hover{
    color:#fff;
    background-color: #999999;
    cursor: pointer;
    opacity:0.9;
}
#b2_front{
    left:0;
}
#b2_next{
    right:0;
}
#inbox2{
    position: absolute;
    height:20px;
    left:220px;
    bottom:0px;
    z-index: 500;
}
#inbox2 span{
    display:inline-block;
    width:8px;
    height:8px;
    background-color: #fff;
    z-index: 500;
    border-radius: 50%;
    float: left;
    margin-left: 19px;
    border:2px solid #aaa;
}